# Ignore virtual environments
env/
.venv/

# Ignore video outputs
*.avi
*.mp4
output_videos/
runs/

# Ignore large libraries
*.dll
*.lib
*.pyd
*.so

# Cache
__pycache__/
*.pyc

# VSCode settings
.vscode/
